/* COMMON ZONE*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

ul{
    list-style: none;
}

/* DEBUG ZONE*/

.debug header{
    height: 80px;
    background-color: black;
}

.debug .lateral-nav{
    background-color: chocolate;
    height: 80px;
}

.debug .jumbotron{
    height: 734px;
    background-color: var( --drbx-bkgr-and-square6);
}

.debug .jumbo-card{
    background-color: red;
    height: 795px;
}

.debug [class^='col-']{
    background-color: green;
    height: 600px;
    border: 5px solid;
}

.debug .container-sc{
    height: 1505px;
    background-color:   #cb1ccb ;
}


/* UTILITY ZONE*/

:root {
    --drbx-black: #010001;
    --drbx-white: #FFFFFF;
    --drbx-bkgr-and-square6: #B5D0E6;
    --drbx-accent: #0160FF;
    --drbx-square1: #A3D39A;
    --drbx-square2-alternativeFont: #60092B;
    --drbx-square3: #0192CE;
    --drbx-square4: #FE1C1D;
    --drbx-big-square: #F5F4F4;
    --drbx-square5: #D4011F;
    --drbx-square7: #0D2580;
    --drbx-square8: #FED831;
}

.lat-padd{
    padding-left: 101px;
    padding-right: 101px;
}

.container-sc{
    width: 60%;
    max-width: 997px;
    margin: 0 auto;
}

.color-white{
    color:white;
}

.text-dec-none{
    text-decoration: none;
}

.color-blue-links{
    color: #232cf1;
}

.row{
    width: 100%;   
}

.col-8{
    width: calc(100% / 12*8);
}

.col-4{
    width: calc(100% / 12*4);
}

.col-6{
    width: calc(100% / 12*6);
}

.d-flex{
    display: flex;
}

.f-end{
    align-items: flex-end;
}

.align-i-center{
    align-items: center;
}

.s-between{
    justify-content: space-between;
}

.d-col{
    display: flex;
    flex-direction: column;
}

.bord-style{
    border: 1px;
    border-color: grey;
    border-style:ridge;
}

.gap{
    gap: 2rem;
}

.f-size{
    font-size: 270%;
}

.cubes{
    width: 50%;
    height: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-left{
    float: left;
}

.w-60{
    width: 60%;
}

.svg-invert{
    filter: invert();
}

.j-center{
    justify-content: center;
}

.subscription-min-height{
    height: 975px;
}

/* HEADER ZONE*/
header{
    padding: 1.7rem 0rem;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.lateral-nav{
    width: 30%;
}

#logo-zone{
    justify-content: space-around;
    align-items: center;
}

#login-zone{
    justify-content: space-around;
    align-items: center;
}

#login-zone button{
    width: 100%;
    padding: 5px 1rem;
}

header a{
    text-decoration: none;
    color: black;
}


/* MAIN ZONE */


/* JUMBO ZONE*/
.jumbotron{
    margin: auto;
    background-color: #b4cfe5;
    height: 700px;
}

.jumbo-card{
    width: 60%;
    margin: 0 auto;
    padding-top: 4rem;
}

#jumbo-title{
    font-size: 500%;  
}

#jumbo-freet{
    padding-top: 4.5rem;
    font-size: larger;
}

#jumbo-img{
    height: 500px;
    padding-top: 4rem;
}

#free-trial{
    margin: 1.5rem 0rem;
    font-size: medium;
    text-align: center;
    text-decoration: none;
}

#pd-arrow{
    position: absolute; 
    bottom: 11rem;
    font-size: 300%;
}

/* END JUMBO ZONE*/

/* SUBSCRIPTION ZONE*/

.mon-sub{
    border-radius: 50%;
    border: solid #0463fd 5px;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.year-sub{
    border-radius: 50%;
    border: solid grey 2px;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
}

.container-sc{
    width: 100%;
    margin: 15rem auto;
    max-width: 997px;
}

#sub-options{
    margin-top: 5rem;
    margin-bottom: 3rem;
    
}

#sub-options>span{
    font-size: larger;
}

#annual{
    margin-left: 5rem;
}

#plans{
    margin-top: 5rem;
    gap: 3rem;
    width: 100%;

}

.customer{
    width: 100%;
    text-align: center;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    border-bottom: 0px;
    border-color: grey;
    border-style: ridge;
    padding: 15px;
}

.one-fourth{
    margin-top: 39px;
    gap: 20px;
}

.two-fourth{
    margin-top: 57px;
    gap: 27px;
}

.three-fourth{
    margin-top: 47px ;
    gap: 38px;

}

.fourth-fourth{
    margin-top: 53px;
    gap: 24px;
}

.fourth-fourth>h4{
    padding-top: 40px;
}

.buttons{
    width: 80%;
    max-width: 240px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--drbx-accent);
    color: white;
}

#special-sub{
    width: 100%;
    margin-top: 5rem;
}

.sub-padd{
    padding: 0.5rem;
}

#contact-button{
    position: absolute;
    text-align: center;
    right: 30rem;
}

/* END SUBSCRIPTION ZONE*/

/* PARTNER ZONE*/

#findPartner-img{
    height: 500px;
}

#findPartner{
    margin-left: -1.5rem;
    font-size: medium;
    padding-top: 3rem;
}

#findPartner p{
    margin-top: 1rem ;
    margin-bottom: 2rem;
}

.outliner-button{
    color: black;
    text-align: center;
    width: 55%;
    padding: 7px;
    border: solid black 1px;
    background-color: white;
}

/* END PARTNER ZONE*/


/* DROPBOX BUSINESS SECTION ZONE*/

#ssec-title{
    margin-bottom: 4.5rem;
}

/* END DROPBOX BUSINESS SECTION ZONE*/


/* FAMOUS USERS ZONE*/

.m-height{
    min-height: 326px;
}

.p-rel{
    position: relative;
}

#p1{
    border: 1rem solid #d1e9cd;
    background-color: #A3D39A;
}

#p2{
    background-color: var(--drbx-square2-alternativeFont);
}

#p3{
    background-color: #0093ce;
}

#p3>img{
    height: 10%;
}

#p4{
    background-color: #FE1C1D;
}

#p5{
    gap: 3.1rem;
    padding: 3rem;
    background-color: #f5f5f5;
    font-size: large;
}

#p6{
    background-color:   #FE1C1D;
}

#p7{
    background-color: #b4d0e7
}

#p8{
    background-color: #0d2481;
}

#p9{
    background-color: #ffd830;
}


/* END FAMOUS USERS ZONE*/



/* FREE TRIAL ZONE */
#free-trial-2{
    margin-top: -0.7px;
    background-color: #b4d0e7;
    position: relative;
    padding: 140px 0px;
}

#free-trial-2 h1{
    margin-right: 7rem;
    color: #61092d;
}

#free-trial-2 a{
    position: absolute;
    top: 9.3rem;
    padding: 10px;
    width: 30%;
}
/* END FREE TRIAL ZONE */

#free-trial-2 a{
    text-decoration: none;
}

/*FAQ ZONE*/

.faq{
    border-bottom: 1px solid black;
    padding-bottom: 2.5rem;
}


/*END FAQ ZONE*/

/* FOOTER*/
footer{
    background-color: black;
    color: white;
    padding-bottom: 3.5rem;
}

.footer-list h1{
    color: white;
    margin-bottom: 10px;
}

.footer-list a{
    color: white;
    text-decoration: none;
    line-height: 2rem;
}


#lang{
    font-size: larger;
    gap: 10px;
    color: grey;
}

#lang i{
    color: grey;
}
/*END FOOTER*/



/* ANIMATION ZONE*/

.opacity:hover{
    opacity: 0.7;
}

.outliner-button:hover{
    background-color: black;
    color: white;
}

nav a:not(#start-link):hover{
    border-bottom: 2px solid black;
    padding-bottom: 1.7rem;
}

#start-link:hover::after{
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 63px;
    background: black;
    top: 5rem;
}

.faq p{
    display: none;
}

.faq:hover p{
    display: block;
    padding-top: 2.5rem;
}

.faq:hover i{
    transform: rotate(180deg);
    transition: 0.2s;
}

/* END ANIMATION ZONE*/