/* COMMON ZONE*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

ul{
    list-style: none;
}
/* DEBUG ZONE*/

.debug header{
    height: 80px;
    background-color: black;
}

.debug .lateral-nav{
    background-color: chocolate;
    height: 80px;
}

.debug .jumbotron{
    height: 734px;
    background-color: var( --drbx-bkgr-and-square6);
}

.debug .jumbo-card{
    background-color: red;
    height: 795px;
}

.debug [class^='col-']{
    background-color: green;
    height: 600px;
    border: 5px solid;
}

.debug .container-sc{
    height: 1505px;
    background-color:   #cb1ccb ;
}


/* UTILITY ZONE*/

:root {
    --drbx-black: #010001;
    --drbx-white: #FFFFFF;
    --drbx-bkgr-and-square6: #B5D0E6;
    --drbx-accent: #0160FF;
    --drbx-square1: #A3D39A;
    --drbx-square2-alternativeFont: #60092B;
    --drbx-square3: #0192CE;
    --drbx-square4: #FE1C1D;
    --drbx-big-square: #F5F4F4;
    --drbx-square5: #D4011F;
    --drbx-square7: #0D2580;
    --drbx-square8: #FED831;
}

.lat-padd{
    padding-left: 101px;
    padding-right: 101px;
}

.container-sc{
    width: 60%;
    max-width: 997px;
    margin: 0 auto;
}

.row{
    width: 130%;
}
.col-8{
    width: calc(100% / 12*8);
}

.col-4{
    width: 33%;
}

.d-flex{
    display: flex;
}

.f-end{
    align-items: flex-end;
}

.s-between{
    justify-content: space-between;
}

.d-col{
    display: flex;
    flex-direction: column;
}

.bord-style{
    border: 1px;
    border-color: grey;
    border-style:ridge;
}

.gap{
    gap: 2rem;
}

.f-size{
    font-size: 270%;
}

.cubes{
    width: 50%;
    height: 50%;
}

/* HEADER ZONE*/
header{
    padding-bottom: 1.5rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lateral-nav{
    width: 30%;
}

#logo-zone{
    margin-top: 1.5rem;
    margin-left: 10px;
    justify-content: space-around;
    align-items: center;
}

#login-zone{
    margin-top: 1.5rem;
    justify-content: space-around;
}

#login-zone button{
    width: 100%;
    padding: 5px 1rem;
}

header a{
    text-decoration: none;
    color: black;
}


/* MAIN ZONE */


/* JUMBO ZONE*/
.jumbotron{
    margin: auto;
    background-color: #b4cfe5;
    height: 700px;
}

.jumbo-card{
    width: 60%;
    margin: 0 auto;
    padding-top: 4rem;
}

#jumbo-title{
    font-size: 500%;  
}
#jumbo-freet{
    padding-top: 4.5rem;
    font-size: larger;
}

#jumbo-img{
    height: 500px;
    padding-top: 4rem;
}

#free-trial{
    margin: 1.5rem 0rem;
}

#pd-arrow{
    position: absolute; 
    bottom: 11rem;
    font-size: 300%;
}

/* END JUMBO ZONE*/

/* SUBSCRIPTION ZONE*/
.container-sc{
    width: 100%;
    margin: 15rem auto;
    max-width: 997px;
}

#sub-options{
    margin-top: 5rem;
    margin-bottom: 3rem;
    display: block;
}

#sub-options>span{
    font-size: larger;
}

#annual{
    margin-left: 5rem;
}

#plans{
    margin-top: 5rem;
    gap: 3rem;
    width: 100%;
}

.customer{
    width: 100%;
    text-align: center;
    border-top: 1px;
    border-right: 1px;
    border-left: 1px;
    border-bottom: 0px;
    border-color: grey;
    border-style: ridge;
}

.one-third{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons{
    width: 80%;
    max-width: 240px;
    margin: 0 auto;
    padding: 10px;
    background-color: var(--drbx-accent);
    color: white;
}

.sub-padding-bot{
    padding-bottom: 3.5rem;
}

#special-sub{
    width: 100%;
    margin-top: 5rem;
}

.sub-padd{
    padding: 0.5rem;
}

#contact-button{
    position: absolute;
    right: 30rem;
}


/* END SUBSCRIPTION ZONE*/

/* FIRST SECTION ZONE*/

#findPartner-img{
    height: 500px;
}
#findPartner{
    padding-top: 2.5rem;
    gap: 2.5rem;
}

#partner-button{
    width: 40%;
    padding: 5px;
    border: solid black 2px;
    background-color: white;
}
/* END FIRST SECTION ZONE*/

/* SECOND SECTION ZONE*/

#ssec-title{
    margin-bottom: 4.5rem;
}

/* END SECOND SECTION ZONE*/


/* FAMOUS USERS ZONE*/



/* END FAMOUS USERS ZONE*/



/* FREE TRIAL ZONE */
#free-trial-2{
    background-color: #b4d0e7;
    position: relative;
    padding: 140px 0px;
}

#free-trial-2 h1{
    margin-right: 7rem;
}

#free-trial-2 button{
    position: absolute;
    top: 10rem;
    padding: 10px;
    background-color: white;
    width: 33%;
}
/* END FREE TRIAL ZONE */

/* FOOTER*/
footer{
    background-color: black;
    color: white;
    padding-bottom: 10rem;
}

.footer-list h1{
    color: white;
    margin-bottom: 10px;
}

.footer-list a{
    color: white;
    text-decoration: none;
    line-height: 2rem;
}
/*END FOOTER*/